<main class="main">
<div class="p-6 max-full mx-auto bg-white ">
  <h1 class="ml-auto text-xl font-bold mb-9">Customers</h1>

  <div class="mt-5 mb-4">
    <label for="customer" class="block text-gray-700">Cliente</label>
    <select id="customer" (change)="onCustomerChange($event)" class="w-full border-gray-300 rounded-md shadow-sm p-2">
      <option value="">--Seleccione--</option>
      <option *ngFor="let customer of customers" [value]="customer?.customerNumber">{{ customer?.customerName }}</option>
      <div *ngIf="!customers?.length">No hay clientes disponibles</div>
    </select>
  </div>

  <div class="grid grid-cols-2 gap-4 mb-4" *ngIf="selectedCustomer">
    <div>
      <label class="block text-gray-700"> Número de cliente</label>
      <input class="w-full border-gray-300 rounded-md shadow-sm p-2" [value]="selectedCustomer.customerNumber" disabled />
    </div>
    <div>
      <label class="block text-gray-700">Nombre del cliente</label>
      <input class="w-full border-gray-300 rounded-md shadow-sm p-2" [value]="selectedCustomer.customerName" disabled />
    </div>
    <div>
      <label class="block text-gray-700">Contact First Name</label>
      <input class="w-full border-gray-300 rounded-md shadow-sm p-2" [value]="selectedCustomer.contactFirstName" disabled />
    </div>
    <div>
      <label class="block text-gray-700">Ciudad</label>
      <input class="w-full border-gray-300 rounded-md shadow-sm p-2" [value]="selectedCustomer.city" disabled />
    </div>
  </div>

  <div class="mb-4">
    <h2 class="text-center text-lg font-semibold mb-2">Orders</h2>
    <table class="min-w-full table-auto border-collapse border border-gray-400">
      <thead>
        <tr>
          <th class="border border-gray-300 px-4 py-2">Order Number</th>
          <th class="border border-gray-300 px-4 py-2">Order Date</th>
          <th class="border border-gray-300 px-4 py-2">Total</th>
          <th class="border border-gray-300 px-4 py-2">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td class="border border-gray-300 px-4 py-2 text-center">{{ order.orderNumber }}</td>
          <td class="border border-gray-300 px-4 py-2 text-center">{{ order.orderDate | date: 'dd/MM/yyyy'  }}</td>
          <td class="border border-gray-300 px-4 py-2 text-center">${{ order.total }}</td>
          <td class="border border-gray-300 px-4 py-2 text-center">
            <p class=" w-20 bg-green-200 rounded-full m-auto text-green-800">{{order.status}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-right text-2xl font-bold mb-4">
    Total Orders: <span>${{ totalOrders }}</span>
  </div>
</div>
</main>
<router-outlet />
